DATABASE_URL=postgresql://costtracking_user:hello@postgres:5432/costtracking
NODE_ENV=production
DB_SYNCHRONIZE=true #true = automatic migration, false = manual migration
DB_LOGGING=false # true = log SQL queries, false = no logging
JWT_SECRET=dev-jwt-secret
JWT_EXPIRATION=7d
FRONTEND_URL=http://localhost
PORT=3000